cli/target/
cli/libs/*
!cli/libs/vpkinfo.dll
!cli/libs/vpkinfo.so


lib/bin/
lib/obj/
lib/packages/
lib/riderModule.iml
lib/_ReSharper.Caches/
lib/.idea/
lib/Lib.sln.DotSettings.user
lib/Folder.DotSettings.user

.claude
